h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(83, 83, 83, 0.705);
    text-align: center;
    font-size: 30pt;
}
img {
    width: 180px;
}

#container {
    margin-top: 0px;
    display: flex;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(211, 208, 208);
    padding: 20px;
}

.row {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;

}

#blue {
    background-color: rgb(122, 191, 255);
}
#pink {
    background-color: rgb(247, 152, 168);
}
#white {
    background-color: white;
}

p{
    text-align: center;
}
