img {
    height: 160px;   /*if you just adjust the height it will also take the same value for width*/
}

#container {
    background-color: silver;
    display: flex;
    display: block;
    width: 500px;
    height: 500px;
    padding: 30px; 
    margin: auto;

    
}

.bluerow {
    background-color: rgb(28, 189, 230);
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
}

.pinkrow {
    background-color: rgba(238, 136, 238, 0.801);
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
}

.whiterow {
    background-color: whitesmoke;
    justify-content: space-between;
    display: flex;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    font-size: 28pt;
}