* {
  margin: 0px;
  padding: 0px;
}
.root {
  width: 970px;
  background-color: #245076;
}
#upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  border: 1px solid black;
}
#upper-header img {
  width: 250px;
}
nav ul {
  border: 1px #245076;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
}

nav #nav-list {
  color: white;
}
