#user-img {
  width: 90px;
  position: absolute;
  border: 3px rgb(202, 200, 200) solid;
  border-radius: 50%;
  background-color: white;
  bottom: -45px;
  left: 25px;
  padding: 1px;
}
h1 {
  font-family: cursive;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  line-height: 36px;
  margin-bottom: 15px;
}
.icons {
  width: 16px;
  margin-right: 8px;
}
header {
  background-color: #17a2b8;
  height: 90px;
  position: relative;
}
main {
  width: 550px;
}
#user-info {
  padding: 25px;
  border: 1px solid #aaa;
  border-top: none;
  padding-top: 50px;
}
#location {
  font-size: 22px;
  line-height: 13px;
}

p {
  margin: 0px;
  font-size: 17px;
  line-height: 20px;
}
div.details {
  margin: 15px 0px;
}
p.edit-btn {
  line-height: 12px;
}
