.nav {
    height: 50px;
    width: 100%;
    background-color: rgb(190, 189, 189);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;


}
ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

li {
    padding: 5px;
}

