.card {
  padding: 0px;
  margin: 0px;
}

.full-width-card {
  width: 100%;
}
.card .card-header {
  height: 45px;
  background-color: #333333;
  color: white;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.badge {
  background-color: #cbcbcb;
  border-radius: 50%;
  color: #1f1f1f;
  display: inline-block;
  min-width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 6px;
  padding: 2px;
}

.card-title {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  font-weight: lighter;
}

.card .card-body, .card .card-footer{
  background-color: white;
  border: 3px solid #aaa;
  padding: 10px;
  border-top: none;
}

.card-body #edu-program {
  font-size: 20px;
  color: black;
}
.card-body #program-period {
  color: #777777;
  font-size: 18px;
}
.card-body #program-details {
  color: black;
}
.card-body p {
  margin-bottom: 8px;
}

.connection-list {
  padding: 0px;
  margin: 0px;
}
.request {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.request-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-btns img {
  height: 35px;
  border-radius: 50%;
  margin-right: 2px;
}

.request-info .req-user-img {
  height: 60px;
  border-radius: 50%;
  margin-right: 3px;
  
}

.request-info p {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  line-height: 18px;
  
}
