/* ----------------P R O F I L E    P A G E-------------- */

body {
  margin: 0px;
  padding: 0px;
  font-family: cursive;
}
*,
img {
  border: none;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.bodycontainer {
  padding: 30px;
  padding-top: 120px;
}

#user {
  flex: 2;
  margin-bottom: 30px;
}
#education {
  background-color: rgb(131, 131, 57);
  flex: 1;
}
#main {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  flex: 5;
}
#connections {
  height: 440px;
  width: 205px;
  display: flex;
  flex-direction: column;
  flex: 2;
}
#con-req {
  flex: 1;
  margin-bottom: 30px;
}
#your-con {
  flex: 2;
}
